#Windows:

*.db

Desktop.ini




#python:




#Visual Studio

frameworks/runtime-src/proj.win32/Debug.win32
frameworks/runtime-src/proj.win32/ipch
frameworks/runtime-src/proj.win32/LIR.vcxproj.filters
*.sdf
*.filters
*.opensdf
*.suo
*.pdb
*.exp
*.ilk
